@font-face {
  font-family: "FiraCode-Regular";
  src: url(https://ironkovacs.github.io/assets/fonts/FiraCode-Regular.woff2);
}

@font-face {
  font-family: "FiraCode-Light";
  src: url(https://ironkovacs.github.io/assets/fonts/FiraCode-Light.woff2);
}

@font-face {
  font-family: "FiraCode-Bold";
  src: url(https://ironkovacs.github.io/assets/fonts/FiraCode-Bold.woff2);
}

@font-face {
  font-family: "FiraCode-Medium";
   src: url(https://ironkovacs.github.io/assets/fonts/FiraCode-Medium.woff2);
}

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'FiraCode-Light'
}

h1 {
  padding: 0.5em 0;
  font-size: 1.5em;
  text-transform: capitalize;
}

h2{
  padding: 0.3em 0;
  font-size: 1.2em;
  text-transform: capitalize
}
