* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  width: 100vw;
  min-width: 640px;
}

header {
  border: solid grey 1px;
  width: calc(100vw - 4rem);
  margin: auto;
  padding: 0 2rem 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  background-color: #fff;
  z-index: 1000;
}

.nav-logo {
  margin-bottom: auto;
  margin-top: auto;
  height: 4rem;
  margin-left: 0;
}

.header-nav {
  max-width: 100vw;
  display: flex;
  justify-content: flex-end;
}

header a {
  padding: 0.2rem;
  margin: 1.5rem 0.3rem;
  text-decoration: none;
  color: black
}

header a:hover {
  color: #C42026;
}

.trial {
  padding-left: 1rem;
  padding-right: 1rem;
  border: solid 2px;
  border-radius: 3px;
  color: #C42026;
}

.trial:hover {
  border-color: black;
  color: #fff;
  background-color: #C42026
}

.login {
  padding-left: 1rem;
  padding-right: 1rem;
  border: solid 2px;
  border-radius: 3px;
}

.login:hover {
  border-color: black;
  color: #fff;
  background-color: #1E1D1E
}

.landing {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-image: url(/static/img/bg1.bmp);
  background-size: cover;
  color: #fff;
}

.landing>h1 {
  text-align: center;
  font-size: 3rem
}

.landing-wrapper {
  margin: 2rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

iframe {
  margin: auto;
  min-width: 200px;
  border: none;
  padding: 0;
}

.landing-text-wrapper {
  margin: auto;
  text-align: justify;
  width: calc(50vw - 4rem);
  padding-bottom: 10px
}

.landing-button-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.landing-text-wrapper p {
  margin-bottom: 2rem
}

.button {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: .5rem 1rem;
  color: #fff;
  text-decoration: none;
}

.landing .uppercase {
  background-color: rgba(0, 255, 0, .2);
}

.landing a:hover {
  border-color: black;
  color: black;
}

.a .button {
  text-align: center;
  margin: auto;
  font-size: 1.25rem;
}

p.under {
  margin: auto;
  margin-top: 1rem;
  font-size: 0.8rem;
  text-align: center
}

.features {
  color: #434343;
  margin: 2rem;
}

.featwrapper {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.featwrapper ul, .featwrapper li {
  text-align: justify
}

.featwrapper img {
  max-width: 50vw;
  border-radius: 5px;
}

.modules {
  margin: auto;
  background-color: #1E1D1E;
  color: white
}

ul.right {
  padding-left: 4rem;
}

ul.left {
  padding-right: 4rem;
}

.modules li {
  font-size: 1.5rem;
  padding: .5rem;
  text-transform: capitalize;
  margin: 0rem;
  list-style: none;
}

.modules li:before {
  content: "\f067";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  color: #C42026
}

.modules-wrapper {
  padding: 1rem 10rem 10rem 10rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #fff;
}

.circle-container {
  position: relative;
  width: 20rem;
  height: 20rem;
  padding: 0;
  border: solid 2px #fff;
  border-radius: 50%;
  margin: auto;
  background-image: url(/static/img/server.png);
  background-repeat: no-repeat;
  background-position: 1rem;
}

.circle-container a {
  display: block;
  position: absolute;
  top: 8rem;
  left: 8rem;
  width: 0rem;
  height: 0rem;
  margin: -0rem;
}

.circle1 {
  transform: rotate(270deg) translate(10rem) rotate(90deg);
  border-radius: 25px;
}

.circle2 {
  transform: rotate(310deg) translate(10rem) rotate(50deg);
}

.circle3 {
  transform: rotate(350deg) translate(10rem) rotate(10deg);
}

.circle4 {
  transform: rotate(30deg) translate(10rem) rotate(330deg);
}

.circle5 {
  transform: rotate(70deg) translate(10rem) rotate(290deg);
}

.circle6 {
  transform: rotate(110deg) translate(10rem) rotate(250deg);
}

.circle7 {
  transform: rotate(150deg) translate(10rem) rotate(210deg);
}

.circle8 {
  transform: rotate(190deg) translate(10rem) rotate(170deg);
}

.circle9 {
  transform: rotate(230deg) translate(10rem) rotate(130deg);
}

i.fa {
  display: inline-block;
  font-size: 3rem;
  border-radius: 50%;
  border: 5px double #1E1D1E;
  background-color: #fff;
  padding: .5rem .5rem;
  color: #C42026;
  position: relative;
}

i.fa:hover {
  border: 5px double #1E1D1E;
  background-color: #C42026;
  color: #fff;
}

.setup {
  margin: auto;
  text-align: center;
  
}
.setup p{font-size: 1.5rem;
padding-bottom: 1rem;
}

.setup img{
  border-radius: 5px;

}

.setupfooter {
  position: relative;
  color: #fff;
  display: flex;
  padding-top: 2rem;
  justify-content: space-evenly;
  height: 6rem;
  background-color: #C42026;
}

.setupfooter-text {
  position: absolute;
  left: 10rem;
}

.setupfooter-button {
  position: absolute;
  right: 10rem;
  top: 3rem;
}

.logo {
  width: 224px;
  height: 112px;
}

.story{

}

.story-content{
  display: none;
}

footer{
  background-color: #231F1E;
  background-image: url(/static/img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: 20rem;
  background-position-y: 2rem;
  height: 200px;
  display:flex;
  justify-content: flex-end;
  padding-right: 10rem;
  color:white;
}

footer h2{
  margin-top:2rem;
  font-size: 1rem;
  color: #C42026;
  font-weight: normal;
  text-transform: capitalize;
}

footer a{
  text-decoration: none;
  color: #fff;
  text-transform: capitalize
}

footer a:hover{
  color: #C42026;
}

footer ul{
  padding-right: 2rem;
  }

footer li {
  list-style: none;
}

footer i{
  color: #231F1E;
  display: block;
  font-size: 2rem;
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
}

footer i:hover{
  background-color: #C42026;
}


h1 {
  font-family: Impact, Helvetica, Arial, sans serif;
  line-height: 3rem;
  padding: 1rem;
  text-align: center;
  font-size: 2.5rem
}

@media only screen and (max-width: 1180px) {
  .circle-container {
    display: none;
  }
}
